<div class="login-container container-fluid">
    <div class="control-form-login">
        <div class="login-form">
            <form class="form-login">
                <div class="title-login-form">
                    <h2>Login</h2>
                </div>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <button type="submit" class="submit-button">SUBMIT</button>
            </form>
            <a href="#" id="registerLink">Đăng Kí</a>
        </div>

        <div class="register-form hidden">
            <form class="form-register">
                <div class="title-register-form">
                    <h2>Register</h2>
                </div>
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <input type="email" placeholder="Email" name="email">
                <input type="text" placeholder="Full Name" name="fullname">
                <button type="submit" class="submit-button">REGISTER</button>
            </form>
            <a href="#" id="loginLink">Đăng nhập</a>
        </div>

        <div class="login-form">
            <img src="https://png.pngtree.com/png-clipart/20231020/original/pngtree-empty-orange-shopping-carts-or-basket-isolated-concept-3d-illustration-or-png-image_13380695.png" alt="" />
        </div>
    </div>
</div>